
    body {
      font-family: Arial, sans-serif;
      background-color: #eaeaea;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
    .container {
      display: flex;
      background-color: #f5f6f8;
      border-radius: 15px;
      box-shadow: 0 4px 15px rgba(0,0,0,0.1); 
      width: 100vh;
      height: 70vh;
      max-width: 95%;
      justify-content: center;
      align-items: center;
      overflow: hidden;
    }
    .main{
      flex: 1;
      padding: 40px;
      background:#f5f6f8;
    }
    .main h4 {
      color: #666;
      font-weight: normal;
      margin: 0 0 10px;
      font-size: 14px;
    }
    .main h2 {
      font-size: 28px;
      margin: 0 0 20px;
      font-weight: bold;
    }
    .main h2 .light-text {
      font-weight: normal;
      color: #333;
    }
    .main p {
      color: #555;
      margin-bottom: 20px;
      font-size: 14px;
    }
    .content {
      margin-top: 20px;
    }
    .contact-row {
      display: flex;
      align-items: center;
      margin: 12px 0;
      font-size: 15px;
      color: #333;
    }
    .contact-row img {
      width: 22px;
      height: 22px;
      margin-right: 10px;
      object-fit: contain;
    }

    .form-container {
      flex: 1;
      padding: 40px;
      background: #fff;          
      border-radius: 15px;         
      box-shadow: 0 4px 12px rgba(0,0,0,0.08);
      margin-right: 20px;       
    }

    .form-container form label {
      display: block;
      margin-bottom: 6px; 
      font-weight: bold;
      color: #333;
      padding-right: 10px;  
    }
    .form-container form input,
    .form-container form select,
    .form-container form textarea {
      width: 100%;
      padding: 12px;
      margin-bottom: 20px;
      border-radius: 8px;
      border: 1px solid #ccc;
      font-size: 14px;
      background: #fdfdfd;
      box-sizing: border-box; 
    }
    .form-container form button {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      padding: 12px 20px;
      border: none;
      border-radius: 30px;
      background: linear-gradient(to right, #007bff, #0056d2);
      color: #fff;
      cursor: pointer;
      font-size: 15px;
    }
